/* ======= 编辑模式（Live Preview）======= */
.markdown-source-view.mod-cm6 .cm-content > .cm-line {
  text-indent: 2em;
  padding-bottom: 1em;
}

/* 避免标题、代码块被缩进 */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  text-indent: 0;
}
.markdown-preview-view,
.markdown-source-view {
    max-width: 1800px;
    margin: auto;
}

/* ======= 阅读模式 ======= */
.markdown-reading-view p {
  text-indent: 2em;
  padding-bottom: 1em;
}

